name: Primeiro CI/CD

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Conectar no Lightsail e rodar ls
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.LIGHTSAIL_HOST }}
          username: ${{ secrets.LIGHTSAIL_USER }}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          script: |
            echo "=== Onde estou ==="
            pwd

            echo "=== Quem sou eu ==="
            whoami

            echo "=== Listando arquivos ==="
            ls -lah
